.navbar-toggler {
    margin-right: 1rem; /* Adjust margin to fit on the left side */
    display: inline-block !important; /* Ensure it is visible on all devices */
  }

  .search-bar {
    flex-grow: 1;
    margin-left: 10px;
  }
  .navbar-nav .nav-item {
    margin: 0 15px; /* Horizontal margin between nav items */
  }

  .navbar {
    padding: 0.3rem 0; /* Padding to add vertical space around the navbar */
  }

  .nav-link {
    padding: 10px 20px; /* Padding for clickable area */
    font-weight: bold;
    color: #000;
  }

  .nav-link:hover {
    color: #007bff; /* Change color on hover */
  }